body {
    margin: 1.5em 10em;
}

.container {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

form-container {
    margin: 1em;
}

form {
    display: flex;
    flex-wrap: wrap;
    width: 450px;
}

form input {
    margin: 1em;
}

.article {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    margin: 1em;
}

.article:hover {
    background-color: cornsilk;
}

.buttons-container {
    display: flex;
    justify-content: space-around;
}

a button {
    width: 70px;
    height: 50px;
    border: 1px solid black;
    position: absolute;
    bottom: 10%;
    left: 10%;
    cursor: pointer;
}